.loginsignup {
    width: 100%;
    height: 80vh;
    background: #f3192faf;
    padding-top: 50px; 
}

.loginsignup-container {
    max-width: 600px; 
    width: 90%; 
    height: auto;
    background: white;
    margin: auto;
    padding: 20px 30px; 
}

.loginsignup-container h1 {
    margin: 15px 0; 
}

.login-container{
    margin-top: 100px;
}

.loginsignup-fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px; 
}

.loginsignup-fields input {
    height: 50px; 
    padding-left: 15px; 
    font-size: 16px; 
}

.loginsignup-container button {
    width: 100%; 
    height: 50px; 
    margin-top: 20px; 
    font-size: 20px; 
    border: 1px solid black;
    outline: none;
}


.loginsignup-login {
    margin-top: 15px; 
    font-size: 16px; 
}

.loginsignup-agree {
    display: flex; 
    align-items: center; 
    margin-top: 15px; 
    font-size: 16px; 
}

.loginsignup-agree input {
    margin-right: 10px; 
}

.loginsignup-agree p{
    padding-top: 10px;
}