.productdisplay{
    display: flex;
    margin: 0px 170px;
    padding-top: 20px;
}

.productdisplay-left{
    display: flex;
    gap: 17px;
}

.productdisplay-main-img{
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.productdisplay-right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}

.productdisplay-right h1{
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
}

.productdisplay-right-stars{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}

.productdisplay-right-prices{
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}

.productdisplay-right button{
    margin-top: 20px;
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #2a74eb;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}